<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="col s12">
                <h5 class="left">Add Customer</h5>
                <a (click)="saveCustomer()"><i class="material-icons right medium icon-clickable">done</i></a>
                <a (click)="goBack()"><i class="material-icons right medium icon-clickable">close</i></a>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Name"
                       id="name"
                       name="name"
                       type="text"
                       [(ngModel)]="customer.name">
                <label for="name" [class.active]="customer.id">Name</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="Surname"
                       id="surname"
                       name="surname"
                       type="text"
                       [(ngModel)]="customer.surname">
                <label for="surname" [class.active]="customer.id">Surname</label>
            </div>
        </div>
    </form>
</div>