<div class="row">
    <div class="col s12">
        <h5 class="left">{{customer.name}} {{customer.surname}}</h5>
        <a (click)="gotoEdit()" class="waves-effect waves-light btn right"><i class="material-icons right">mode_edit</i>Edit</a>
    </div>
</div>
<div class="row">
    <table class="col s12 bordered highlight">
        <thead>
        <tr>
            <th>Performance</th>
            <th>Date</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let performance of customer.performances">
            <td>{{performance.service.description}}</td>
            <td>{{performance.date}}</td>
            <td>{{performance.notes}}</td>
        </tr>
        </tbody>
    </table>
</div>